!!!
%html
	%head
		%title= render_title
		
		/ Render Style Sheets.
		= render 'layouts/stylesheets'
		= csrf_meta_tags
%body{:id => "#{params[:controller].parameterize}_controller"}
	.container
		/ Render header.
		= render 'layouts/header'
		
		/ Render any flash messages.
		%section
			- flash.each do |key, value|
				%div{:class => "flash #{key}"}
					= value
		
		/ Render main content.
		= yield
		
		/ Render footer.
		= render 'layouts/footer'
		
		/ Debugging info for development.
		= debug(params) if Rails.env.development?
